{% extends "base.html" %}

{% block contents %}

	<!-- Section1 Begin -->
	<section class="mt-5 mb-5">
		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">Hello, Welcome to Blaucart Project!</h1>
			  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quidem veniam ipsa explicabo veritatis, libero sit aperiam eos nesciunt tenetur sapiente cumque nam in laboriosam molestias quis, animi tempore officiis?</p>
			  <hr class="my-4">
			  <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
			</div>
		</div>		
	</section>
	<!-- Section1 End -->

	<!-- Section2 Begin -->
	<!-- Section2 End -->

	<!-- Section3 Begin -->
	<!-- Section3 End -->

	<!-- Section4 Begin -->
	<!-- Section4 End -->	

	
{% endblock contents %}